# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# FAISS Index
vector_store/*.bin
vector_store/*.pkl

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db